{% extends 'campus/base.html' %}

{% block title %}About{% endblock title %}About

{% block head %}
        <style>
            #s{
                background-color: grey;
    border-style:dotted;
    height: 2px;
    width: 200px;
            }

{% endblock head %}
{% block body_block %}
<br>
{% comment %} <h1 class="text-center" style="font-family:Georgia, 'Times New Roman', Times, serif;">About</h1>
    <div "card mt-2 mx-auto p-4 bg-light" style="text-align:center">
    <div style="font-family:Georgia, 'Times New Roman', Times, serif;>
        <hr id="s"><br>
    <p><b><i>
        <li>The major objective of our application is to simplify the campus placement system to both the students as well as the placement officer. </li> 
        
        <li>It provides a digital platform for the students to prepare and apply for campus Placement happening in the college</li>

        <li>Many students do not understand the importance of placement training that is being imparted, whether it is aptitude training or soft skills.</li>
        
        <li>They show the least interest in this due to various factors viz., projects, assignments or more of activities loaded by the colleges
        as part of their curriculum thinking.</li>
        <li>Serves as a mini job portal for students to search and apply for jobs available on campus online.</li>
        <li>Helps students to prepare well for their campus placement interviews.</li>
        <li>Manage the details of student records, company records, placement training, different placements happening in the college which saves time and energy.</li>
        <li>The purpose of this system is not only to make the on campus placement process less tiresome but to create one storage place for all the information concerning to one student.</li> 

        </i></b>
    </p>
    </div>
    </div> {% endcomment %}

    <div class="ct-pageWrapper" id="ct-js-wrapper">
        <section class="company-heading intro-type" id="parallax-one">
          <div class="container">
            <div class="row product-title-info">
              <div class="col-md-12">
                <h1>About Us</h1>
              </div>
            </div>
          </div>
          <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/hero/hero.jpg);"></div>
    <div style="height: 80px;"></div>
    
{% endblock body_block %}

