<!Doctype html>
{% extends "campus/base.html" %}

{%block body_block%}

      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          
            <br><br>
            <h2> Hello {{ user.username|title }}!</h2>
          </div>
        </div>
      </div>
</div>
<div class="container">

  <div class="jumbotron">
      <table class="pos2">
          <tr>
              <td  ><a href="index/" class="btn btn-lg btn-primary mx-5 d-inline-flex "><b style="font-size: 2rem">JAVA</b></a></td>
              <td><a href="/quizindex/" class="btn btn-lg btn-primary mx-5 d-inline-flex "><b style="font-size: 2rem">QUIZ</b></a></td>
            </tr><tr>
          <td ><a href="index1/ " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem">C PROGRAMMING</b></a></td></tr><tr>
            <td  ><a href="index2/ " class="btn btn-lg btn-primary mx-5 d-inline-flex "><b style="font-size: 2rem">DBMS</b></a></td></tr><tr> 
        <td  ><a href="index3/ " class="btn btn-lg btn-primary mx-5 d-inline-flex "><b style="font-size: 2rem">COMPUTER NETWORKS</b></a></td></tr><tr>
            <td  ><a href="index4/ " class="btn btn-lg btn-primary mx-5 d-inline-flex "><b style="font-size: 2rem">OPERATING SYSTEM</b></a></td></tr><tr>
                <td  ><a href="index5/ " class="btn btn-lg btn-primary mx-5 d-inline-flex "><b style="font-size: 2rem">ALGORITHMS</b></a></td></tr><tr>
                    <td  ><a href="index6/ " class="btn btn-lg btn-primary mx-5 d-inline-flex "><b style="font-size: 2rem">OTHER</b></a></td></tr><tr>
                    </tr>
                    <td  ><a href="index7/ " class="btn btn-lg btn-primary mx-5 d-inline-flex "><b style="font-size: 2rem">DS</b></a></td></tr><tr>
                    </tr>
                </tr>
            </tr>
          </tr>
      </table>
  
  </div>
  
</div>

{% endblock %}