
{%extends 'campus/base.html'%}
{%block head%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{%endblock%}
       {%block body_block%}
       <div class="container mt-5">
           <form  action="{% url 'Upload' %}" method="POST" enctype="multipart/form-data">
            {% comment %} style="text-align:center;" {% endcomment %}
              <h3 style="text-align:center; font-family:Georgia, 'Times New Roman', Times, serif;" >Upload Your Offer Letter!</h3>
               <div class="form-group" style="font-family:Georgia, 'Times New Roman', Times, serif;">
                 <label for="{{form.file_name.id_for_label}}">Your USN</label>
                 {{form.file_name}}         
               </div>

               {% comment %} <div class="form-group">
                <label for="{{form.company_selected.id_for_label}}">Company you got selected</label>
                {{form.company_selected}}         
              </div> {% endcomment %}
                
               <div class="form-group">
                   <label for="{{form.files_data.id_for_label}}">File</label>
                   {{form.files_data}}         
                 </div>
                 {% csrf_token %}
               
               
               <button type="submit" class="btn btn-primary">Submit</button>
             </form>
             
       
       </div>
       <br>
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       

       {%endblock%}